{{!-- vista para visualizar un carrito especifico --}}
<div>
  <h3> Tu Carrito de compras</h3>
</div>

<div>
  <p id="carts"></p>
</div>

<script src="/socket.io/socket.io.js"></script>

<script src="js/index.js" charset="utf-8"></script>