{{! debe contener una lista de todos los productos agregados hasta el momento }}
<div>
  <h3> {{name}}, tu lista de productos</h3>
</div>

<div>
  <p id="products"></p>
</div>
 <button onClick=() >Agregar al carrito</button>


<script src="/socket.io/socket.io.js"></script>

<script src="js/index.js" charset="utf-8"></script>