<div class="contenedor-formularios">
  <h1>LOGIN</h1>
  <form class="form" action="/api/users/login" method="post">
    <div class="contenedor-input">
      <label> Email:</label>
      <input type="email" name="email" id="email" />
    </div>
    <div class="contenedor-input">
      <label>Password:</label>
      <input type="password" name="password" id="password" />
    </div>
    <div class="contenedor-input">
      <label>Role:</label>
      <input type="role" name="role" id="role" />
    </div>
    <div class="login">
      <button
        class="button btn-secundary"
        onclick="location.href='/api/sessions/profile'"
      >Login</button>
    </div>

  </form>
  <div class="form">

  </div>
  <div class="container-new">
    <h2 class="new-user">¿Usuario nuevo?</h2>
  </div>
  <div class="register">
    <div class="register">
      <button
        class="button btn-secundary"
        onclick="window.location.href = '/api/users/register-github';"
      >Entrar con Github</button>
      <button
        class="button btn-secundary"
        onclick="location.href='/api/sessions/reset-pass'"
      >¿Olvidaste la contraseña?</button>
    </div>
    <div class="register">
      <button
        class="button btn-secundary"
        onclick="location.href='/api/sessions/register'"
      >Registrate</button>
    </div>
  </div>
</div>