<h1>Restablecimiento de contraseña</h1>
<hr>
<form action="/api/sessions/user-restart" method="post">
    Email: <input type="text" name="email"> <input type="submit" value="Restablecer contraseña"><br><br> 
</form>
<hr>
<button onclick="location.href='/sessions/login'">Login</button>
<hr>
<button onclick="location.href='/sessions/register'">Registrate</button>